
header {
    .bottom-header {
        /*debug*/
        /*background-color: red;*/

        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 10px;
            }
        }
    }
}
