
/* HOME PAGE*/

#card {
    padding: 40px;
    background: #1c1c1c;
    color: white;

        .main-box {

            display: flex;
            flex-wrap: wrap;

            .box-card {

                .box-image {
                    height: 180px;
                    overflow: hidden;
                    margin-bottom: 10px;

                    img {
                        max-width: 100%;
                        object-fit: cover;
                    }
                }

                .box-text {

                    p {
                        font-size: 12px;
                        text-align: left;
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                    }
                }
            }
        }
}

/* ELEMENT PAGE */

.single-page {
    .line-section {
        height: 60px;
        background-color: #0282f9;
    }

    .box-comic {

    }

}



