

#card {
    padding: 40px;
    background: #1c1c1c;
    color: white;
    display: flex;
    overflow-x: hidden;

    .box-main {

        display: flex;
        flex-wrap: wrap;

        .box-card {

            .box-image {
                width: 110px;
                height: 180px;

                img {
                    max-width: 100%;
                    object-fit: cover;
                }
            }

            .box-text {

                p {
                    font-size: 12px;
                    text-align: left;
                    display: inline-block;
                    color: white;
                    transform: translateY(10px);
                    text-transform: uppercase;
                }
            }

        }

    }




}

