
/* HOME PAGE*/

#card {
    padding: 40px;
    background: #1c1c1c;
    color: white;

        .main-box {

            display: flex;
            flex-wrap: wrap;

            .box-card {

                .box-image {
                    height: 180px;
                    overflow: hidden;
                    margin-bottom: 10px;

                    img {
                        max-width: 100%;
                        object-fit: cover;
                    }
                }

                .box-text {

                    p {
                        font-size: 12px;
                        text-align: left;
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                    }
                }
            }
        }
}

/* ELEMENT PAGE */

.single-page {

    .box-blue {
        height: 60px;
        background-color: #0282f9;
    }

    .box-comic {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        .box-info-1 {
            width: 700px;
            margin-top: 50px;
            margin-right: 30px;

            .box-green {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                color: white;

                .box-price {
                    background-color: #55ba59;
                    height: 50px;
                    margin: 10px 0;
                    padding: 0 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 70%;
                }

                .box-check {
                    background-color: #55ba59;
                    height: 50px;
                    width: 30%;
                    border-left: 1px solid gray;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            .box-title {
                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }

            .box-description {

                p {
                    font-size: 13px;
                }
            }
        }

    }

    .box-adv {
        text-align: right;

            p{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
            }

        .box-img {
            width: 200px;

            img {
                width: 100%;
            }
        }
    }

    /* TALENT e SPECS */

    .box-info-2 {
        background-color: #f6f6f6;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;

        .box-ts {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .box-talent {

            }

            .box-specs {

            }

        }
    }

}



