* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

ul,
li {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

header .bottom-header {
  /*debug*/
  /*background-color: red;*/
}

header .bottom-header ul {
  display: flex;
  justify-content: center;
}

header .bottom-header ul li {
  margin: 0 10px;
}

footer {
  /*debug*/
  background-color: lightgreen;
}

